@model EntitiyLayer.Concrete.Author
@{
    ViewBag.Title = "AddAuthor";
    Layout = "~/Views/Shared/_AuhtorLayout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@using (Html.BeginForm("AddAuthor", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <br />


    <div class="form-group">
        <label for="name">Name *</label>
        <input type="text" class="form-control" name="AuthorName" required="">
    </div>
    <div class="form-group">
        <label for="email">Email *</label>
        <input type="email" class="form-control" name="Mail" required="">
    </div>
    <div class="form-group">
        <label for="name">Hakkında *</label>
        <input type="text" class="form-control" name="AuthorAbout" required="">
    </div>
    <div class="form-group">
        <label for="email">Etiket*</label>
        <input type="text" class="form-control" name="AuthorSort" required="">
    </div>
    <div class="form-group">
        <label for="email">Yaptıgı Meslek*</label>
        <input type="text" class="form-control" name="AuthorTitle" required="">
    </div>
    <div class="form-group">
        <label for="email">Telefon*</label>
        <input type="tel" class="form-control" name="Telefon" required="">
    </div>
    <div class="form-group">
        <label for="email">Sifre*</label>
        <input type="tel" class="form-control" name="Password" required="">
    </div>
    <div class="form-group">
        <label for="email">İnstagram*</label>
        <input type="url" class="form-control" name="Instagram" required="">
    </div>
    <div class="form-group">
        <label for="email">Facebook*</label>
        <input type="url" class="form-control" name="Facebook" required="">
    </div>

    <div class="form-group">
        <label for="email">Facebook*</label>
        <input type="url" class="form-control" name="Twitter" required="">
    </div>

   
    @Html.Label("Resim Yolu")
    <input type="file" name="AuhtorImage"  required=""/>
    <br />
    <button class="btn btn-outline-primary" id="btn1">Kaydet</button>
    <script>
        $("#btn1").click(function () {
            alert("Başarılı", "Kayıt Başarılı", "success");

        })
    </script>
}



