@model EntitiyLayer.Concrete.Onarım
@{
    ViewBag.Title = "UpdateBlog2";
    Layout = "~/Views/Shared/_AuhtorLayout.cshtml";
}
<link rel="stylesheet" href=" ~/miniblog/fonts/icomoon/StyleSheet5.css">
<form class="form-group" method="post">
    @Html.Label("ID")
    @Html.TextBoxFor(x => x.OnarımID, new { @class = "form-control", @required = "required", @placeholder = "ID giriniz" })

    @Html.Label("Yapılanİs")
    @Html.TextAreaFor(x => x.Yapılanİs, new { @class = "form-control", @required = "required", @placeholder = "Yapılan işi giriniz" })

    <button class="btn btn-outline-primary" id="btn1">Kaydet</button>

    <script>
        $('#btn1').click(function () {
            if ($('input[required], textarea[required]').filter(function () { return !this.value; }).length > 0) {
                alert("Lütfen tüm alanları doldurunuz.");
                return false; // Formu göndermeyi engeller
            } else {
                alert("Başarılı bir şekilde kaydedildi.");
            }
        });
    </script>
</form>
